.communitymain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 35px;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: center;

}
.community-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
   
}
.community-left{
font-size: 96px;
font-weight: 800;
line-height: 116.18px;
text-align: left;

}
.symbol{
    color:  #C67E10;
    ;
}
@media screen and (max-width: 768px) {
    .community-content{
        flex-direction: column;
    }
    .community-left{
        font-size: 50px;
    }
    .community-right{
        width: 100%;
    }
}