.latestproject{
    
    color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.latestproject>.latestproject-grid>div>.latestproject-heading{

font-size: 81px;
font-weight: 500;
line-height: 100px;
letter-spacing: -3px;
text-align: left;
margin-bottom: unset;

}

.latestproject-company{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.scroll-button{
    
    width: fit-content;
    height: 20px;
    position: absolute;
    right: 15px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #040404;
    opacity: 0.8;
    cursor: pointer;
    border: unset;

}
.latestproject>.latestproject-grid>div{
    
    text-align: left;

}
.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 446px;
    top: 840px;
    opacity: 0px;
    z-index: -1; 
  }

.latestproject>.latestproject-grid{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    width: 808px;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 12px;
}

.gallery-image{
    width: 325px;
    height: 505px;

}

.project-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

/* ============================================================== */
/* Tablet and Mobile Mode */

@media screen and (max-width: 768px) {
    .scroll-button{
        display: none;
    }

    .image-gallery{
        flex-wrap: wrap;
    justify-content: center;
    }

    .latestproject{
        flex-direction: column;
    }
.background-image {
    display: none;
}    
.latestproject>.latestproject-grid>div>.latestproject-heading{
    font-size: 38px;
    letter-spacing: 1px
}
.latestproject>.latestproject-grid{
    width: 100%;
}
.project-grid{
    width: 100%;
}
}